name: Akhenaten Build Linux

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    name: run on linux
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: update-workspace
      run: |
        sudo apt -qq update
        sudo apt install --yes cmake build-essential libsdl2-dev libsdl2-mixer-dev libsdl2-image-dev libpng-dev
    - name: build-project
      run: |
        mkdir build
        mkdir linux_build
        mkdir linux_build/data
        cd build
        cmake -DCMAKE_BUILD_TYPE=Release -DOPTION_SYSTEM_LIBPNG=ON ..
        cd ..
        cmake --build ./build
        cp ./build/akhenaten ./linux_build/akhenaten.linux
        cp ./data/pharaoh_fonts_pack.sgx ./linux_build/data/pharaoh_fonts_pack.sgx
        cp ./data/pharaoh_custom_pack.sgx ./linux_build/data/pharaoh_custom_pack.sgx
        cp ./data/neucha.ttf ./linux_build/data/neucha.ttf
    - uses: actions/upload-artifact@v4
      with:
        name: linux_build
        path: linux_build